.cube{
           position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top:50%;
            left:50%;
            /*determinamos una anchura*/

            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left:-250px;
            /*determinamos una altura*/
		
		    /*indicamos que el margen superior, es la mitad de la altura*/
		    margin-top:-220px;
		    border:1px solid #808080;
		    padding: 36px;
            width:  470px;
            height: 450px;
        }
        
        .logo-ms{
            width: 33%;
            height: 8%;
        }
        
        .row-title{   
            margin: 16px 2px 16px 2px !important;
        }
        .title{
            /*font-size: 24px;
            line-height: 28px;*/
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }